<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
	<title>World Weather</title>
</head>
<body>
<div class="w3-container">
<h2>World Weather</h2>
<form class="w3-container" action="/weather" method="get">
	<label class="w3-label">City</label>
	<select class="w3-select" name="city">
		<option value="Tokyo">Tokyo</option>
		<option value="Osaka">Osaka</option>
		<option value="Fukuoka">Fukuoka</option>
		<option value="Hong Kong">Hong Kong</option>
		<option value="New York">New York</option>
		<option value="Chicago">Chicago</option>
    </select>
	<p><button class="w3-btn">Search</button></p>
</div>
</form>
</body>
</html>
