<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
	<title>World Weather</title>
</head>
<body>
<div class="w3-container">
<h2>World Weather</h2>
<form class="w3-container" action="/weather" method="get">
	<label class="w3-label">City</label>
	<input class="w3-input" type="text" name="city" required>
	<br/>
	<button class="w3-btn">Search</button>
</div>
</form>
</body>
</html>
